{% extends 'base/base.html' %}

{% load static%}

{%block title%}
Pagina Principal
{%endblock%}



{%block content%}

{%if articles %}

<div class="card" style="margin-top: 55px;">
  <section id="header" class="jumbotron text-center">
      <div style="margin-top: 150px;">
          <h1 class="display-3 text-white fw-bold">Megaterios Blog</h1>
      <h3 class="lead text-white">“La curiosidad es la esencia de nuestra existencia”</h3>
      <a href="#" class="btn-principal"><i class="fa-brands fa-facebook-square"></i></a>
      <a href="#" class="btn-principal"><i class="fa-brands fa-twitter-square"></i></a>
      <a href="#" class="btn-principal"><i class="fa-brands fa-instagram-square"></i></a>
      </div>
  </section>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4 m-3">
  {%for i in articles %}
  <a href="{% url 'detalle_articulo' title=i.title pk=i.pk %}" style="color: #000;text-decoration: none;">
    <div class="col shadow">
      <div class="card h-100">
        <img src="{{ i.photo.url }}" class="card-img-top" alt="HeadImage">
        <div class="card-body">
            <h4 class="card-title fw-bold">{{ i.title }}</h4>
            <p class="card-text">{{ i.introduction }}</p>
        </div>
        <div class="p-2">
          <img class="img-fluid img-responsive rounded-circle mr-2" src="{{i.author.image.url}}" width="28">
            <span class="card-text">{{ i.author.username }}</span>
            <span class="card-text" style="float: right;"><i class="fa-solid fa-calendar-days"></i> {{i.date|date:'d-M-Y'}}</span>
        </div>
      </div>
    </div>
  </a>
  {% endfor %}


{% else %}
<div class="container" style="margin-top: 80px;">
    <div class="d-flex justify-content-center row">
        <div class="d-flex flex-column col-md-8">
            <div class="alert alert-primary d-flex align-items-center" role="alert">
                <h4><i class="fa-solid fa-circle-info"></i> No hay ningún articulo registrado. <a class="link" href="{% url 'nuevo_articulo' %}">Crear nuevo</a></h4>
              </div>
        </div>
    </div>
</div>         
{% endif %}



{%endblock%}