{% extends 'base/base.html' %}
{%load static%}

{%block title%}
Registrarme
{%endblock%}


{%block header%}
{%endblock%}

{%block content%}

<div class="w3-container w3-white w3-round-large w3-card-2" style="max-width: 700px;margin: auto;margin-top: 40px;">

    <div class="w3-row">
        <form action="" id="form_registro" method="post" enctype="multipart/form-data">
            {%csrf_token%}
            <div class="w3-row w3-margin-bottom">
                <a href="{% url 'login' %}" class="xmodal mt-3" title="Cancelar"><i class="fa-solid fa-xmark"></i></a>
            </div>
            <div class="w3-row w3-margin-bottom">
                <div class="w3-half w3-container ">
                    <img src="{% static 'img/avatar.jpg' %}" alt="Avatar" id="img_avatar" class="rounded-circle" width="100px">
                    <input type="file" id="id_image" name="image" hidden>
                    <button type="button" id="button_filev2" class="w3-button w3-text-indigo w3-round fw-bold" style="border: 2px solid #ccc;">Cambiar</button>
                    <button type="button" id="button_filev3" class="w3-button w3-text-red w3-round fw-bold" style="border: 2px solid #ccc;display: none;">Remover</button>
                </div>
                <div class="w3-half w3-container  pt-3">
                    <label for="" class="fw-bold text-secondary">Nombres</label>
                    <input type="text" class="inputs" id="nombre" name="first_name">
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-half w3-container ">
                    <label for="" class="fw-bold text-secondary">Nombre de usuario <span class="w3-text-red fw-bold"">*</span></label>
                    <input type="text" class="inputs" required id="username" name="username">
                </div>
                <div class="w3-half w3-container ">
                    <label for="" class="fw-bold text-secondary">Correo Electronico <span class="w3-text-red fw-bold"">*</span></label>
                    <input type="email" class="inputs" required id="email" name="email">
                </div>
            </div>
            <div class="w3-row w3-margin-bottom p-3">
                <label for="" class="fw-bold text-secondary">Describete en 250 caracteres</label>
                <label for="" class="w3-right text-secondary"> <span class="fw-bold" id="text_counter">0</span> - 250</label>
                <textarea class="form-control" maxlength="250" onkeyup="countChars(this);" id="biography" name="biography"  style="height: 120px"></textarea>
            </div>
            <div class="w3-row w3-margin-bottom">
                <div class="w3-half w3-container ">
                    <label for="" class="fw-bold text-secondary">Contraseña <span class="w3-text-red fw-bold"">*</span></label>
                    <input type="password" class="inputs" required id="password1" name="password1">
                </div>
                <div class="w3-half w3-container ">
                    <label for="" class="fw-bold text-secondary">Confirmar Contraseña <span class="w3-text-red fw-bold"">*</span></label>
                    <input type="password" class="inputs" required id="password2" name="password2">
                </div>
            </div>
            <div class="w3-row w3-margin-bottom px-4">
                <p class="w3-left mt-2 fs-5">Ya tengo una cuenta. <a href="{% url 'login' %}" class="link w3-text-indigo">Iniciar Sesión</a></p>
                <button id="btn_registrar" class="w3-button w3-indigo w3-round-large fw-bold w3-right">Registrarme</button>
            </div>
        </form>
    </div>

</div>

<div style="margin-top: 100px;">

</div>


{%endblock%}

{%block extrajs%}
<script src="{% static 'js/registro.js' %}"></script>
{%endblock%}