{% extends 'base/base.html' %}

{%block title%}
Registrarme
{%endblock%}


{%block header%}
{%endblock%}

{%block content%}

<section class="vh-100 bg-light">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <h3 class="mb-5">Crear nueva cuenta</h3>

                        <form>
                        <div class="form-outline mb-4">
                            <input type="email" id="typeEmailX-2" class="form-control form-control-lg" required />
                            <label class="form-label" for="typeEmailX-2">Nombre de usuario - email</label>
                        </div>

                        <div class="form-outline mb-4">
                            <input type="password" id="typePasswordX-2" class="form-control form-control-lg" required />
                            <label class="form-label" for="typePasswordX-2">Contraseña</label>
                        </div>

                        <div class="form-outline mb-4">
                            <input type="password" id="typePasswordX-2" class="form-control form-control-lg" required />
                            <label class="form-label" for="typePasswordX-2">Confirmar Contraseña</label>
                        </div>

                        <button class="btn btn-primary btn-lg btn-block" style="width: 100%;" type="submit">Iniciar Sesión</button>
                    </form>
                    </div>

                    <div class="center">
                        <p>Ya tengo una cuenta. <a class="link" href="{% url 'login' %}">Iniciar Sesión.</a></p>
                    </div>

                    <div class="center mb-4">
                        <a class="link" href="{% url 'articulos' %}">Ir al menú principal</a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>


{%endblock%}

