.center{
  text-align: center;
}

.link{
  cursor: pointer;
  text-decoration: none;
}


ul{
  list-style-type: none;
}

.img-opacity{
  opacity: 0.4;
}

.bimage{
background-image: url('../img/error.jpg');
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
background-color: #fff;
}


.shadow{
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.shadow:hover{
transform: scale(1.05);
box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

#header {
  height: 650px;
  background: url('../img/astronaut.jpg') center center / cover no-repeat ;
}

.btn-principal{
  font-size: 42px;
  background: -webkit-linear-gradient(rgb(167, 17, 218),rgb(255, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: tomato; 
}

.btn-principal:hover{
  background: -webkit-linear-gradient(rgb(255, 0, 0),rgb(167, 17, 218));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: white; 
}

.tags{
  text-decoration: none;
  padding: 6px;
  color: #ccc;
  border-radius: 10px;
  margin-right: 5px;
  border: 1px solid transparent;
}

.tags:hover{
  background-color: #eee;
  border-color: #495057;
  color: #495057;
}

.rightbar{
  position: sticky;
  top: 80px;
}

.leftbar{
  position: sticky;
  top: 80px;
}

.hearts{
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  float: right;
  cursor: pointer;
  color: #495057;
}


.heart1:hover{background-color: #B6FFCE;color: #15803d;}
.heart11{background-color: #B6FFCE;color: #15803d;}

.heart2:hover{background-color: #FF8080;color: #be123c;}
.heart22{background-color: #FF8080;color: #be123c;}

.heart3:hover{
  background-color: #C8E3D4;
  color: #0f766e;
}

.heartspan{
  font-weight: bold;
  clear: both;
  padding-right: 15px;
  float: right;
  margin-bottom: 15px;
}

.xmodal{
  /* w3-right me-3 fs-3 px-3 w3-round-large */
  color: #000;
  float: right;
  margin-right: 20px;
  padding: 0 15px;
  border-radius: 5px;
  font-size: 24px;
  cursor: pointer;
}

.xmodal:hover{
  color: #4338ca;
  background-color: rgba(37,99,235,.1);
}

.inputs{
  width: 97%;
  padding: 6px 0;
  outline: none;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-bottom: 35px;
}
.inputs:focus{
  border-color: #4338ca;
}

.filebutton{
  content: 'Cambiar';
}