.center{
  text-align: center;
}

.link{
  text-decoration: none;
}

.link:hover{
  text-decoration: underline;
}

ul{
  list-style-type: none;
}

.img-opacity{
  opacity: 0.4;
}

.bimage{
background-image: url('../img/error.jpg');
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
background-color: #fff;
}


.shadow{
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.shadow:hover{
transform: scale(1.05);
box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);

}