.center{
  text-align: center;
}

.link{
  text-decoration: none;
}

.link:hover{
  text-decoration: underline;
}

ul{
  list-style-type: none;
}

.img-opacity{
  opacity: 0.4;
}

.bimage{
background-image: url('../img/error.jpg');
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
background-color: #fff;
}