{% extends 'base/base.html' %}

{% load static%}

{%block title%}
{{article.title}}
{%endblock%}

{%block image%}
{%endblock%}



{%block content%}


<div class="container mt-5" style="margin-bottom: 70px;">
    <div class="d-flex justify-content-center row">
        <div class="d-flex flex-column col-md-11 bg-white rounded-3">
            <h1 style="font-size: 48px;" class="text-center mt-5">{{ article.title|capfirst }}</h1>
            <p class="text-center fs-5">{{article.date|date:'Y-m-d'}} | Por: {{ article.author.username }}</p>

            <div class="center">
                <p style="font-size: 32px;">
                    <a class="text-black" href="#"><i class="fa-brands fa-facebook-square"></i></a>
                    <a class="text-black ms-3" href="#"><i class="fa-brands fa-pinterest-square"></i></a>
                    <a class="text-black ms-3" href="#"><i class="fa-brands fa-twitter-square"></i></a>
                    <a class="text-black ms-3" href="#"><i class="fa-solid fa-square-envelope"></i></a>
                </p>
            </div>

            <img src="{{ article.photo.url }}" class="img-fluid" alt="Article Image">
            <p class="text-center fs-3 fw-bold my-4">{{ article.introduction|capfirst }}</p>

            <p class="fs-4 p-5">{{ article.content }}</p>

            {% if user.is_authenticated %}
            <div class="ms-3 bg-light p-3">
                <ul class="list-inline d-sm-flex my-0 p-2">
                    <li class="list-inline-item g-mr-20">
                        <button class="btn {% if articleLikes.value == 1 %}btn-primary{%else%}btn-outline-primary{%endif%}" style="font-size: 24px;" id="btn_like">
                            <i class="fa-solid fa-heart"></i>
                            {{article.likes}} Me gusta
                        </button>
                    </li>
                    <li class="list-inline-item g-mr-20">
                        <button class="btn {% if articleLikes.value == 2 %}btn-danger{%else%}btn-outline-danger{%endif%}" style="font-size: 24px;" id="btn_dislike">
                            <i class="fa-solid fa-heart-crack"></i>
                            {{article.dislikes}} No me gusta
                        </button>
                    </li>
                </ul>

                <div>
                    <form id="form_comentar" action="">
                        {% csrf_token %}
                        <div class="d-flex flex-row add-comment-section mt-4 mb-4">
                            <img class="mr-2" src="{{ user.image.url }}" width="38" height="38" style="border-radius: 50%;">
                            <input type="text" name="comment" id="comment" class="form-control mr-3"
                                placeholder="Ingresa un Comentario" required>
                            <input type="hidden" name="title" id="title" class="form-control mr-3" value="{{article.title}}"
                                required>
                            <button id="btn_comentar" class="btn btn-primary">Aceptar</button>
                        </div>
    
                        <div class="input-group mb-3" style="display: none;">
                            <select class="form-select" id="author" name="author">
                                <option value="{{user.id}}" selected>{{user.email}}</option>
                            </select>
                        </div>
    
                        <div class="input-group mb-3" style="display: none;">
                            <select class="form-select" id="article" name="article">
                                <option value="{{article.id}}" selected>{{article.title}}</option>
                            </select>
                        </div>
                    </form>
                    
                </div>
            </div>

            <div class="coment-bottom bg-white p-2 px-4">
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Responder comentario</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <form action="" id="form_subcomentar">
                                {% csrf_token %}
                                <div class=" modal-body">
                                    <input type="hidden" readonly id="stitle" name="stitle" value="{{article.title}}">

                                    <input type="text" readonly id="sid_comment" name="sid_comment">

                                    <div class="input-group mb-3" style="display: none;">
                                        <select class="form-select" id="sauthor" name="sauthor">
                                            <option value="{{user.id}}" selected>{{user.email}}</option>
                                        </select>
                                    </div>
                
                                    <div class="input-group mb-3" style="display: none;">
                                        <select class="form-select" id="sarticle" name="sarticle">
                                            <option value="{{article.id}}" selected>{{article.title}}</option>
                                        </select>
                                    </div>

                                    <textarea class="form-control" name="subcomment" id="subcomment" style="height: 120px" required></textarea>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cancelar</button>
                                    <button type="submit" id="btn_subcomentar" class="btn btn-primary">Aceptar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--End Modal-->

                <!-- Modal edit comment-->
                <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel2">Editar comentario</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <form action="" id="form_comments">
                                <div class=" modal-body">

                                    <input type="text" readonly id="evalue" name="evalue">
                                    <input type="text" readonly id="eid_comment" name="eid_comment">

                                    <textarea class="form-control" name="comment_text" id="comment_text" style="height: 120px" required></textarea>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cancelar</button>
                                    <button type="submit" id="btn_ecomment" class="btn btn-primary">Aceptar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--End Modal edit comment-->

                <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Información</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form id="form_deletecomment" action="">
                        <div class="modal-body p-4">
                          <input type="text" id="did_article" name="did_article" hidden>
                          <input type="text" readonly id="dvalue" name="dvalue">
                          <input type="text" readonly id="did_comment" name="did_comment">
                         <p class="fs-3 text-center fw-bold">¿Seguro que desea eliminar este comentario?</p>
                      </div>
                      <div class="modal-footer justify-content-center">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button id="btn_dcomment" class="btn btn-danger">Eliminar</button>
                      </div>
                      </form>
                    </div>
                  </div>
                </div>

                <!--Comments Zone-->
                <hr>
                <div id="comment_panel"></div>
                {%for i in article.comment_set.all %}
                <div class="mb-4 bg-light rounded p-2" id="comment_pane{{i.id}}">
                    {%if request.user.id == i.author.id%}
                    <div class="btn-group" style="float: right;">
                        <button type="button" class="btn" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-lg-end">
                          <li><button onclick="edditComment('{{i.id}}',0)" class="dropdown-item" type="button"><i class="fa-solid fa-pen-to-square"></i> Editar comentario</button></li>
                          <li><button onclick="deleteComment('{{i.id}}',0)" id="btn_deletecomment" class="dropdown-item" type="button"><i class="fa-solid fa-trash-can"></i> Eliminar comentario</button></li>
                        </ul>
                      </div>
                      {%endif%}
                    <div class="d-flex flex-row align-items-center commented-user">
                        <img class="mr-2" src="{{i.author.image.url}}" width="34" height="34"
                            style="border-radius: 50%;">
                        <h5 class="mr-2">{{i.author.username}} - </h5>
                        </span><span class="mb-1 ms-2"><i class="fa-solid fa-clock-rotate-left"></i>{{i.date|date:'Y-m-d'}}</span>
                    </div>
                    <div class="comment-text-sm mb-2">
                        <p id="commentp{{i.id}}" style="margin-left: 36px;">{{i.comment}}</p>
                    </div>
                    <div>
                        <a class="link text-secondary" href="#" style="font-size: 18px;">
                            <i class="fa-solid fa-heart"></i>
                            {{i.likes}} Me gusta
                        </a>
                        <a class="link text-secondary ms-2" href="#" style="font-size: 18px;">
                            <i class="fa-solid fa-heart-crack"></i>
                            {{i.dislikes}} No me gusta |
                        </a>
                        <a class="link text-secondary ms-3" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="document.getElementById('sid_comment').value='{{i.id}}'" >Responder a {{i.author.username}}</a>
                    </div>
                </div>

                <div id="subcomment_panel{{i.id}}"></div>

                <!--Sub Comments Zone-->
                {%for j in i.subcomment_set.all%}
                <div class="delete{{i.id}} ms-5 mb-4 bg-light rounded p-2" id="subcomment_panel{{j.id}}">
                    <div class="d-flex flex-row align-items-center commented-user">
                        <img class="mr-2" src="{{j.author.image.url}}" width="34" height="34"
                            style="border-radius: 50%;">
                        <h5 class="mr-2">{{j.author.username}} - </h5>
                        </span><span class="mb-1 ms-2"><i class="fa-solid fa-clock-rotate-left"></i>{{j.date|date:'Y-m-d'}}</span>
                    </div>
                    <div class="comment-text-sm mb-2">
                        <p style="margin-left: 36px;">{{j.subcomment}}</p>
                    </div>
                </div>
                {%endfor%}
                <!--End Sub Comments Zone-->
                {%endfor%}

            </div>
            {%else%}
            <hr>
            <div class="bg-white p-3">
                <a href="{% url 'login' %}" class="link text-secondary">Inicia sesión para interactuar con las
                    publicaciones</a>
            </div>
            {% endif %}



        </div>
    </div>
</div>


{%endblock%}

{%block extrajs%}
    <script src="{% static 'js/app.js' %}"></script>
{%endblock%}