{% extends 'base/base.html' %}

{% load static%}

{%block title%}
Eliminar Articulo
{%endblock%}



{%block content%}

<div class="container mt-5">
    <div class="d-flex justify-content-center row">
        <div class="d-flex flex-column col-md-7">
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <div>
                    <form method="post">
                    {%  csrf_token %}
                    <h4 class="text-danger"><i class="fa-solid fa-triangle-exclamation"></i> Está a punto de eliminar el
                        articulo:</h4>
                    <br>
                    <h5><i class="fa-solid fa-newspaper"></i> {{article.title}}</h5>
                    <h5><i class="fa-solid fa-heart"></i> Total de likes: {{article.likes}}</h5>
                    <h5><i class="fa-solid fa-heart-crack"></i> Total de dislikes: {{article.dislikes}}</h5>
                    <h5><i class="fa-solid fa-comment"></i> Total de comentarios: {{article.comments}}</h5>
                    <div class="mt-4">
                        <a href="{% url 'articulos' %}" class="btn btn-secondary btn-lg"
                            style="float: left;width: 120px;">Cancelar</a>
                        <button class="btn btn-danger ms-4 btn-lg" style="float: left;width: 170px;">Eliminar</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>



{%endblock%}