{% extends 'base/base.html' %}

{% load static%}


{%block title%}
Mis Articulos
{%endblock%}



{%block content%}

  {%if articles %}
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Información</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="{% url 'eliminar_articulo' %}"">
        {%  csrf_token %}
        <div class=" modal-body">
          <input type="hidden" readonly id="id_article" name="id_article">
          Seguro que desea eliminar este articulo?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-danger">Eliminar</button>
      </div>
      </form>
    </div>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4 m-3">
{%for i in articles %}
<div class="col ">
  <div class="card h-100 shadow">
    <img src="{{ i.photo.url }}" class="card-img-top" alt="HeadImage">
    <div class="card-body">
      <h4 class="card-title">{{ i.title }}</h4>
      <p class="card-text">{{ i.introduction }}</p>
    </div>
    <div class="p-2">
      <img class="img-fluid img-responsive rounded-circle mr-2" src="{{i.author.image.url}}" width="28" height="28">
      <span class="card-text">{{ i.author.username }}</span>
      <span class="card-text" style="float: right;">{{i.date|date:'Y-m-d'}}</span>
    </div>
    <div class="bg-white">
      <hr>
      <ul class="list-inline d-sm-flex my-0 p-3" style="float: left;">
        <li class="list-inline-item g-mr-20">
          <span class="text-primary">
            <i class="fa-solid fa-heart"></i>
            {{ i.likes }}
          </span>
        </li>
        <li class="list-inline-item g-mr-20">
          <span class="text-primary">
            <i class="fa-solid fa-heart-crack"></i></i>
            {{ i.dislikes }}
          </span>
        </li>
        <li class="list-inline-item ml-auto">
          <span class="text-primary">
            <i class="fa-solid fa-comment"></i>
            {{ i.comments }}
          </span>
        </li>
      </ul>

      <div class="p-3" style="float: right;">
        <a href="{% url 'editar_articulo' pk=i.id %}" class="link mx-3 text-primary fw-bold">Editar</a>
        <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"
          onclick="document.getElementById('id_article').value='{{i.id}}'" class="link text-danger fw-bold">Eliminar</a>
      </div>

    </div>
  </div>
</div>
{% endfor %}
</div>


{% else %}
<div class="container mt-5" style="margin-bottom: 120px;">
  <div class="d-flex justify-content-center row">
    <div class="d-flex flex-column col-md-8">
      <div class="alert alert-primary d-flex align-items-center" role="alert">
        <h4><i class="fa-solid fa-circle-info"></i> No ha registrado ningún articulo. <a class="link"
            href="{% url 'nuevo_articulo' %}">Crear nuevo</a></h4>
      </div>
    </div>
  </div>
</div>
{% endif %}




{%endblock%}